

#root::before {
  content: "";
  position: fixed; /* Fix the background image to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.pexels.com/photos/2259232/pexels-photo-2259232.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2; /* Adjust opacity */
  z-index: -1; /* Ensure the background is behind your components */
}
