.SearchBox {
    display: flex;
    flex-direction: column; /* Stack the form items vertically */
    justify-content: center; /* Center the form horizontally */
    align-items: center; /* Center the form vertically */
    height: 100%; /* Ensure the container takes full height */
}

form {
    display: flex;
    flex-direction: column; /* Stack the elements vertically in the form */
    align-items: center; /* Center the form elements horizontally */
}

input, button {
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove padding if any */
}

.MuiTextField-root, .MuiButton-root {
    margin-bottom: 5px; /* Adjust the space between input and button */
}
